blis==0.2.4
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cymem==2.0.2
# en-core-web-lg==2.1.0
# en-core-web-sm==2.1.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
language-check==1.1
MarkupSafe==1.1.1
murmurhash==1.0.2
neo4j==1.7.4
neobolt==1.7.13
neotime==1.7.4
numpy==1.17.0
opencv-python==4.1.0.25
Pillow==6.1.0
plac==0.9.6
preshed==2.0.1
protobuf==3.18.3
pytesseract==0.2.7
pytz==2019.2
requests==2.22.0
six==1.12.0
spacy==2.1.8
srsly==0.0.7
thinc==7.0.8
torch==1.2.0
tqdm==4.33.0
urllib3==1.25.3
wasabi==0.2.2
Werkzeug==0.15.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.1.0/en_core_web_lg-2.1.0.tar.gz
