{% extends "index.html" %}
{% block content %}
<style type="text/css">
    #viz {
        width: 1200px;
        height: 700px !important;
        margin:0 auto;
        border: 1px solid lightgray;
        font: 22pt arial;
    }
</style>
<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
<script>
function draw() {
    var config = {
        container_id: "viz",
        server_url: "bolt://127.0.0.1:7687",
        server_user: "neo4j",
        server_password: "password",
        labels: {
            "Entity": {
                caption: "text",
            }
        },
        relationships: {
            "Related": {
                caption: false
            }
        },
        initial_cypher: "MATCH p=()-[r:Related]->() RETURN p"
    }
    var viz = new NeoVis.default(config);
    viz.render();
}
</script>
<body onload="draw()">
    <div id="viz" style="height: 100%; width: 100;"></div>
</body>
{% endblock %}
